@import  '../../assets/css/font-awesome.min.css';


body {
    background: #000;
    color: #444;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5em;
    margin: 80px;
    font-size: 12pt;
}


@keyframes blink
{
    0%   {  background:rgba(99,222,0,1);  }
    100% {  background:rgba(99,222,0,0);  }
}

@-webkit-keyframes blink {
    0%   {  background:rgba(99,222,0,1);  }
    100% {  background:rgba(99,222,0,0);  }
}
@-moz-keyframes blink {
    0%   {  background:rgba(99,222,0,1);  }
    100% {  background:rgba(99,222,0,0);  }
}

.fa-small {
    font-size: 0.9em;
}

.console {
    p {
        color: #63de00!important;
    }
    .normal-line {
        .cursor {
            background: #63de00;
            display:inline-block;
            width:11px;
            height:19px;
            margin-bottom:-3px;
            -webkit-animation-name: blink;
            -webkit-animation-duration: 0.9s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-name: blink;
            -moz-animation-duration: 0.9s;
            -moz-animation-iteration-count: infinite;
        }
    }
}